In [1]:
#importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import warnings
import plotly.express as px

In [2]:
#To Suppress the Warnings
warnings.filterwarnings("ignore")

In [3]:
#Loading Dataset
dataset = pd.read_csv("Zomato_Chennai_Dataset.csv")
dataset

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...,...
12027,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Porur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12028,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Kolathur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12029,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Anna Nagar East,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12030,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Ramapuram,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12031,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Sholinganallur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"

In [4]:
dataset.shape

(12032, 12)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Zomato URL             12032 non-null  object
 1   Name of Restaurant     12032 non-null  object
 2   Address                12032 non-null  object
 3   Location               12032 non-null  object
 4   Cuisine                12032 non-null  object
 5   Top Dishes             12032 non-null  object
 6   Price for 2            12032 non-null  float64
 7   Dining Rating          6681 non-null   float64
 8   Dining Rating Count    11812 non-null  object
 9   Delivery Rating        6181 non-null   float64
 10  Delivery Rating Count  11812 non-null  object
 11  Features               12032 non-null  object
dtypes: float64(3), object(9)
memory usage: 1.1+ MB

In [6]:
#Dropping the Unwanted Columns
dataset.drop(columns = ["Zomato URL","Address"],axis = 1,inplace = True)
dataset

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Kolathur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Anna Nagar East,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Ramapuram,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Sholinganallur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"

In [7]:
dataset.describe()

        Price for 2  Dining Rating  Delivery Rating
count  12032.000000    6681.000000      6181.000000
mean     397.611370       3.387756         3.805290
std      332.045938       0.558181         0.374213
min       40.000000       0.300000         0.300000
25%      200.000000       3.100000         3.600000
50%      300.000000       3.500000         3.900000
75%      450.000000       3.800000         4.000000
max     5000.000000       4.900000         4.700000

In [8]:
#Checking for Null Values
dataset.isnull().sum()

Name of Restaurant          0
Location                    0
Cuisine                     0
Top Dishes                  0
Price for 2                 0
Dining Rating            5351
Dining Rating Count       220
Delivery Rating          5851
Delivery Rating Count     220
Features                    0
dtype: int64

In [9]:
dataset["Dining Rating"].value_counts()

Dining Rating
3.6    584
3.5    553
3.7    525
3.4    500
3.3    463
3.8    460
3.2    433
3.9    379
3.1    363
2.0    354
3.0    302
4.0    288
2.9    257
4.1    221
2.8    192
4.2    142
2.7    138
4.3    105
2.6     99
2.5     71
4.4     61
2.4     46
4.5     36
2.3     32
2.2     20
4.6     17
4.7     12
2.1     10
4.9      7
4.8      4
1.9      3
1.7      2
0.3      1
1.0      1
Name: count, dtype: int64

In [10]:
dataset[dataset["Dining Rating"].isnull()]

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
6,Bai Veetu Kalyanam,Navallur,['Biryani'],"['Bread Halwa', ' Mutton Biryani', ' Brinjal G...",350.0,NaN,Does not offer Dining,4.3,1061,['Home Delivery']
77,Al Dhareeq Beef Biriyani,Kodambakkam,['Biryani'],['Beef Biryani'],300.0,NaN,Does not offer Dining,3.9,19600,['Home Delivery']
106,Twilight Take Out,Nungambakkam,"['North Indian', ' Chinese', ' Rolls', ' Conti...","['Club Sandwich', ' Chicken Tikka Roll', ' Chi...",350.0,NaN,Does not offer Dining,4.0,11200,"['Home Delivery', 'Free Parking']"
107,The Red Box,Anna Nagar West,['Chinese'],"['Noodle', ' Chilli Chicken Gravy', ' Dragon C...",200.0,NaN,Does not offer Dining,4.2,11500,['Home Delivery']
114,Charminar Biriyani Centre,Royapettah,"['Biryani', ' North Indian']","['Chicken Biryani', ' Bread Halwa', ' Brinjal ...",300.0,NaN,Does not offer Dining,3.9,652,"['Home Delivery', 'Standing Tables']"
...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Kolathur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Anna Nagar East,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Ramapuram,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Sholinganallur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"

In [11]:
#Replacing the Null Values with 0 
dataset.fillna("0",axis = 0, inplace = True)
dataset

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,['Sandwich'],Invalid,350.0,0,0,0,0,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Kolathur,['Sandwich'],Invalid,350.0,0,0,0,0,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Anna Nagar East,['Sandwich'],Invalid,350.0,0,0,0,0,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Ramapuram,['Sandwich'],Invalid,350.0,0,0,0,0,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Sholinganallur,['Sandwich'],Invalid,350.0,0,0,0,0,"['Breakfast', 'Delivery Only']"

In [12]:
dataset.isnull().sum()

Name of Restaurant       0
Location                 0
Cuisine                  0
Top Dishes               0
Price for 2              0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
Features                 0
dtype: int64

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Location               12032 non-null  object
 2   Cuisine                12032 non-null  object
 3   Top Dishes             12032 non-null  object
 4   Price for 2            12032 non-null  float64
 5   Dining Rating          12032 non-null  object
 6   Dining Rating Count    12032 non-null  object
 7   Delivery Rating        12032 non-null  object
 8   Delivery Rating Count  12032 non-null  object
 9   Features               12032 non-null  object
dtypes: float64(1), object(9)
memory usage: 940.1+ KB

In [14]:
dataset["Dining Rating Count"].value_counts()

Dining Rating Count
Does not offer Dining        2603
Not enough Dining Reviews    2528
4                             339
5                             271
6                             248
                             ...
877                             1
897                             1
872                             1
1197                            1
224                             1
Name: count, Length: 793, dtype: int64

In [15]:
#Replacing the Invalid Values with valid values
dataset["Dining Rating Count"].replace(to_replace = ["Does not offer Dining","Not enough Dining Reviews"], value = 0, inplace = True)

In [16]:
dataset["Dining Rating Count"].value_counts()

Dining Rating Count
0       5131
4        339
5        271
6        248
0        240
        ...
877        1
897        1
872        1
1197       1
224        1
Name: count, Length: 792, dtype: int64

In [17]:
dataset["Delivery Rating Count"].value_counts()

Delivery Rating Count
Not enough Delivery Reviews    3379
Does not offer Delivery        2252
0                               239
27                               34
40                               30
                               ...
7705                              1
6374                              1
3677                              1
588                               1
1617                              1
Name: count, Length: 2281, dtype: int64

In [18]:
dataset["Delivery Rating Count"].replace(to_replace = ["Does not offer Delivery","Not enough Delivery Reviews"], value = 0, inplace = True)

In [19]:
dataset["Delivery Rating Count"].value_counts()

Delivery Rating Count
0       5631
0        239
27        34
37        30
60        30
        ...
7705       1
6374       1
3677       1
588        1
1617       1
Name: count, Length: 2280, dtype: int64

In [20]:
#Converting the Columns from Object type to Numerical Type
dataset["Dining Rating"] = dataset["Dining Rating"].astype("float64")
dataset["Dining Rating Count"] = dataset["Dining Rating Count"].astype("int64")
dataset["Delivery Rating"] = dataset["Delivery Rating"].astype("float64")
dataset["Delivery Rating Count"] = dataset["Delivery Rating Count"].astype("int64")

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Location               12032 non-null  object
 2   Cuisine                12032 non-null  object
 3   Top Dishes             12032 non-null  object
 4   Price for 2            12032 non-null  float64
 5   Dining Rating          12032 non-null  float64
 6   Dining Rating Count    12032 non-null  int64
 7   Delivery Rating        12032 non-null  float64
 8   Delivery Rating Count  12032 non-null  int64
 9   Features               12032 non-null  object
dtypes: float64(3), int64(2), object(5)
memory usage: 940.1+ KB

In [22]:
dataset

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Kolathur,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Anna Nagar East,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Ramapuram,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Sholinganallur,['Sandwich'],Invalid,350.0,0.0,0,0.0,0,"['Breakfast', 'Delivery Only']"

In [86]:
STR_TO_REPLACE = ["\[","\]","\'"]

for column in ["Cuisine","Top Dishes","Features"]:
    for char in STR_TO_REPLACE:
        dataset[column] = dataset[column].str.replace(char,"",regex = True)

In [24]:
dataset

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",500.0,4.3,1500,4.3,9306,"Home Delivery, Indoor Seating"
1,Sukkubhai Biriyani,Alandur,"Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",1000.0,4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec..."
2,SS Hyderabad Biryani,Kodambakkam,"Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",500.0,4.3,1361,4.4,10500,"Home Delivery, Indoor Seating"
3,KFC,Perambur,"Burger, Fast Food, Finger Food, Beverages",Zinger Burger,500.0,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver..."
4,Tasty Kitchen,Perambur,"Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",450.0,4.2,617,4.1,22400,"Home Delivery, Indoor Seating"
...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"
12028,CK's Sandwiches,Kolathur,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"
12029,CK's Sandwiches,Anna Nagar East,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"
12030,CK's Sandwiches,Ramapuram,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"
12031,CK's Sandwiches,Sholinganallur,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"

In [49]:
dataset["Top Dishes"].value_counts()

Top Dishes
Invalid                                                                                                                9641
Biryani                                                                                                                  30
Coffee                                                                                                                   14
Chicken Biryani                                                                                                          12
Pizza,  Garlic Bread                                                                                                     11
                                                                                                                       ...
Burgers,  Sandwich,  Beef Burger,  Burger Combo,  French Fries,  Cheese Corn Nuggets                                      1
Fish,  Chicken 65,  Chicken Biryani,  Fried Rice,  Chilli Chicken                                                         1
Churros,  Waffles,  Coffee,  Chocolate Gateau,  Vanilla Ice Cream                                                         1
Shawarma,  Chicken Biryani,  Paneer Tikka Masala,  Gulab Jamun,  Mutton Biryani,  Chicken Grill,  Chicken Shawarama       1
Chaat,  Rasmalai                                                                                                          1
Name: count, Length: 2190, dtype: int64

In [55]:
dataset["Top Dishes"].replace(to_replace = ["Invalid"], value = 'NA' , inplace = True)

In [71]:
uselessData  =  (dataset['Dining Rating'] == 0) & (dataset['Delivery Rating'] == 0)
dataset = dataset[~uselessData]
dataset

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",500.0,4.3,1500,4.3,9306,"Home Delivery, Indoor Seating"
1,Sukkubhai Biriyani,Alandur,"Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",1000.0,4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec..."
2,SS Hyderabad Biryani,Kodambakkam,"Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",500.0,4.3,1361,4.4,10500,"Home Delivery, Indoor Seating"
3,KFC,Perambur,"Burger, Fast Food, Finger Food, Beverages",Zinger Burger,500.0,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver..."
4,Tasty Kitchen,Perambur,"Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",450.0,4.2,617,4.1,22400,"Home Delivery, Indoor Seating"
...,...,...,...,...,...,...,...,...,...,...
11901,Dhabba On Wheels,Okkiyampet,North Indian,NA,500.0,0.0,0,3.0,54,"Home Delivery, Indoor Seating"
11914,Sandwich Sisters,Velachery,Sandwich,NA,200.0,0.0,0,3.6,75,"Home Delivery, Free Parking"
11953,The Sandwich Box,Navallur,"Sandwich, Fast Food, Beverages",NA,300.0,0.0,0,3.9,21,"Home Delivery, Indoor Seating"
11959,The Shangai Story,Madipakkam,Chinese,NA,350.0,0.0,0,2.9,17,Delivery Only
11960,The Shangai Story,Egatoor,Chinese,NA,350.0,0.0,0,2.7,17,Delivery Only

In [88]:
dataset.head()

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",500.0,4.3,1500,4.3,9306,"Home Delivery, Indoor Seating"
1,Sukkubhai Biriyani,Alandur,"Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",1000.0,4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec..."
2,SS Hyderabad Biryani,Kodambakkam,"Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",500.0,4.3,1361,4.4,10500,"Home Delivery, Indoor Seating"
3,KFC,Perambur,"Burger, Fast Food, Finger Food, Beverages",Zinger Burger,500.0,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver..."
4,Tasty Kitchen,Perambur,"Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",450.0,4.2,617,4.1,22400,"Home Delivery, Indoor Seating"

In [112]:
dataset["Location"].value_counts()

Location
Porur                                       270
Velachery                                   255
T. Nagar                                    235
Anna Nagar East                             227
Ambattur                                    213
                                           ...
IBIS Hotel, Old Mahabalipuram Road (OMR)      1
The Slate                                     1
Eat And Pack, Ambattur                        1
The Pride Hotel, Kilpauk                      1
Chandra Metro Mall, Virugambakkam             1
Name: count, Length: 264, dtype: int64

In [130]:
dataset['Location'].str.replace(r"^.*?,",'',regex=True)

0         Pallavaram
1            Alandur
2        Kodambakkam
3           Perambur
4           Perambur
            ...
11901     Okkiyampet
11914      Velachery
11953       Navallur
11959     Madipakkam
11960        Egatoor
Name: Location, Length: 8481, dtype: object

In [132]:
dataset['Location'].value_counts()

Location
Porur                                       270
Velachery                                   255
T. Nagar                                    235
Anna Nagar East                             227
Ambattur                                    213
                                           ...
IBIS Hotel, Old Mahabalipuram Road (OMR)      1
The Slate                                     1
Eat And Pack, Ambattur                        1
The Pride Hotel, Kilpauk                      1
Chandra Metro Mall, Virugambakkam             1
Name: count, Length: 264, dtype: int64

In [172]:
dd = dataset['Location'].str.split(",")
dd

0         [Pallavaram]
1            [Alandur]
2        [Kodambakkam]
3           [Perambur]
4           [Perambur]
             ...
11901     [Okkiyampet]
11914      [Velachery]
11953       [Navallur]
11959     [Madipakkam]
11960        [Egatoor]
Name: Location, Length: 8481, dtype: object